@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Storage and Instance Calculator</h1>
    <h4>Here you can calculate the predicted monthly cost for your Azure storage based on the storage amount you plan to use and calculate the predicted yearly cost of running Azure instance.</h4>
    <br />
    <p>You can refer to the steps below on how to use the storage calculator.</p>
    <ol class="steps">
        <li>Input the number of Gigabytes you plan to use on Azure per month.</li>
        <li>Tick the box if it is Geographically redundant.</li>
        <li>Click the <b>Calculate</b> button to get your predicted monthly cost.</li>
    </ol>
    <br />
    <p>You can refer to the steps below on how to use the instance calculator.</p>
    <ol class="steps">
        <li>Select the instance size.</li>
        <li>Input the number of instances.</li>
        <li>Click the <b>Calculate</b> button to get your predicted yearly cost.</li>
    </ol>
</div>
